<% var path = '.' %>
<!doctype html>
<html>

<head>
	<title>レシピURL登録 - week dinner</title>
	<meta name="Description" content="">
	<meta name="Keywords" content="">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes">
	<link rel="shortcut icon" type="image/x-icon" href="<%= path %>/assets/img/favicon.ico">
</head>

<body>
	<%- include('./modules/header.ejs', {path}) %>

	<section class="wrapper">
		<div class="contents">
			<div class="contents-wrapper">
				<form action="" method="">
					<h2 class="contents-title">レシピURL登録</h2>
					<p class="contents-title_discription">
						<a href="https://recipe.rakuten.co.jp/" class="text_link" target="_blank">楽天レシピ</a>のURLを貼ることで、レシピ登録ができます。<br>登録したい日にちの欄にURLを入力してください。
						<span class="contents-title_note">※ 空白の場合、更新されません</span>
					</p>
					<ul class="entry_list">
						<% for (var i = 0; i < 7; i++) { %>
							<%- include('./modules/entryList.ejs', {dateNum: i}) %>
						<% } %>
					</ul>
					
					<input type="submit" class="form_button" value="登録" />
				</form>
			</div>
		</div>

		<%- include('./modules/footer.ejs') %>
	</section>

	<%- include('./modules/modal.ejs', {path}) %>
</body>
</html>